POSTGRES_DB=mini_adex
POSTGRES_USER=mini_adex
POSTGRES_PASSWORD=mini_adex

POSTGRES_HOST_PORT=5433
SERVER_PORT=8080

DATABASE_URL=postgres://mini_adex:mini_adex@postgres:5432/mini_adex?sslmode=disable

AUCTION_TIMEOUT=200ms